@font-face {
  font-family: Rubik;
  src: url('Rubik-VariableFont_wght.ttf');
  font-size: 16px;
}

html, body, section, article,
h1, h2, ul, li, strong, em, button,
input, select {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

ul, li {
  list-style: none;
}

body {
  font-family: 'Rubik', sans-serif;
}

main {
  margin: 0 auto;
  max-width: 500px;
}

section {
  margin-bottom: 3rem;
}

.header-name {
  font-size: 4rem;
  font-variation-settings: 'wght' 600;
  margin-bottom: 3rem;
  margin-left: 4rem;
  margin-top: 3rem;
}

.subheader {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}


/* SKILLS */

.logo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo {
  height: 35px;
  background-size: cover;
  margin-right: 15px;
}

.angellist {
  background-image: url('angellist.png');
}

.aws {
  background-image: url('aws.svg');
  width: 58px;
}

.docker {
  background-image: url('docker.svg');
  width: 35px;
}

.github {
  background-image: url('github.png');
}

.graphql {
  background-image: url('graphql.svg');
  width: 35px;
}

.javascript {
  background-image: url('javascript.png');
  width: 35px;
}

.linkedin {
  background-image: url('linkedin.png');
}

.rails {
  background-image: url('rails.svg');
  width: 93px;
  margin-right: 5px;
}

.react {
  background-image: url('react.svg');
  width: 50px;
  margin-right: 5px;
}

.redux {
  background-image: url('redux.svg');
  width: 37px;
}

.ruby {
  background-image: url('ruby.svg');
  width: 35px;
}

.typescript {
  background-image: url('typescript.svg');
  width: 35px;
}

.skills-description {
  font-size: 0.75rem;
}


/* PROJECTS */

.project-name {
  font-size: 1.5rem;
}

.project-image {
  width: 100%;
}


/* CONTACT */

.contact-section-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}

.contact-logo {
  height: 1rem;
  background-size: auto 1rem;
}

#at_symbol {
  background: url('@_symbol.svg');
}

#phone {
  background: url('phone.svg');
}

#github {
  background: url('github.png');
}

#linkedin {
  background: url('linkedin.png');
}

#angellist {
  background: url('angellist.png');
}
