@font-face {
  font-family: Rubik;
  src: url('Rubik-VariableFont_wght.ttf');
  font-size: 16px;
}

html, body, section, article,
h1, h2, strong, em, a, button,
input, select {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

section {
  margin-bottom: 1.5rem;
  max-width: 500px;
}

.header-name {
  font-size: 2rem;
  font-variation-settings: 'wght' 600;
  margin-bottom: 3rem;
}

.subheader {
  font-size: 1.5rem;
}


/* SKILLS */

.logo-container {
  display: flex;
  flex-direction: row;
}

.logo {
  height: 25px;
  background-size: auto 25px;
}

#angellist {
  background: url('angellist.png');
}

#aws {
  background: url('aws.svg');
}

#docker {
  background: url('docker.dvg');
}

#github {
  background: url('github.png');
}

#graphql {
  background: url('graphql.svg');
}

#javascript {
  background: url('javascript.png');
}

#linkedin {
  background: url('linkedin.png');
}

#rails {
  background: url('rails.svg');
}

#react {
  background: url('react.svg');
}

#redux {
  background: url('redux.svg');
}

#ruby {
  background: url('ruby.svg');
}

#typescript {
  background: url('typescript.svg');
}

.skills-description {
  font-size: 0.5rem;
}


/* PROJECTS */

.project-name {
  font-size: 1.5rem;
}

.project-image {
  width: 100%;
}